.web-view{
    // background-color: aqua;
    width: 99.5%;
    height: 500px;
    //margin: 0 auto;
    display:flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width:2px;
    border-style:solid;
    border-color:black;
}